.RouletteWheel a:active img {
  transform: rotate(600deg);
   transition: transform 2s ease-out;
}

.RouletteWheel button:active img {
    -webkit-transform: rotate(600deg);
    -webkit-transition: -webkit-transform 2s ease-out;
}
