<!doctype html>
<html lang="en">

@{
    ViewBag.Title = "About";
}
<!-- <h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
-->
<head>
    <link rel="stylesheet" href="~/Content/CSSFolder/BackgroundColor.css" />
    <link rel="stylesheet" href="~/Content/CSSFolder/ShopItemList.css" />
    <link rel="stylesheet" href="~/Content/CSSFolder/TextAlligner.css" />


</head>
<body>
    <div class="ShopText">
        <h1> Welcome to the Shop</h1>
    </div>

    <div class="ShopItems">
        <a href="Videre går til Steamlogin">
            <img src="~/Content/Images/skin1.jpg " />
        </a>
        <a href="Videre går til Steamlogin">
            <img src="~/Content/Images/skin1.jpg " />
        </a>
        <a href="Videre går til Steamlogin">
            <img src="~/Content/Images/skin1.jpg " />
        </a>
        <a href="Videre går til Steamlogin">
            <img src="~/Content/Images/skin1.jpg " />
        </a>
        <a href="Videre går til Steamlogin">
            <img src="~/Content/Images/skin1.jpg " />
        </a>
        <a href="Videre går til Steamlogin">
            <img src="~/Content/Images/skin1.jpg " />
        </a>
        <a href="Videre går til Steamlogin">
            <img src="~/Content/Images/skin1.jpg " />
        </a>
        <a href="Videre går til Steamlogin">
            <img src="~/Content/Images/skin1.jpg " />
        </a>
        <a href="Videre går til Steamlogin">
            <img src="~/Content/Images/skin1.jpg " />
        </a>
        <a href="Videre går til Steamlogin">
            <img src="~/Content/Images/skin1.jpg " />
        </a>
        <a href="Videre går til Steamlogin">
            <img src="~/Content/Images/skin1.jpg " />
        </a>
        <a href="Videre går til Steamlogin">
            <img src="~/Content/Images/skin1.jpg " />
        </a>
        <a href="Videre går til Steamlogin">
            <img src="~/Content/Images/skin1.jpg " />
        </a>
        <a href="Videre går til Steamlogin">
            <img src="~/Content/Images/skin1.jpg " />
        </a>
        <a href="Videre går til Steamlogin">
            <img src="~/Content/Images/skin1.jpg " />
        </a>
        <a href="Videre går til Steamlogin">
            <img src="~/Content/Images/skin1.jpg " />
        </a>
        <a href="Videre går til Steamlogin">
            <img src="~/Content/Images/skin1.jpg " />
        </a>

    </div>

</body>
</html>