<!doctype html>
<html lang="en">
<!--
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
    -->
<head>
    <script src="~/Content/MyScripts/RouletteScript.js"> </script>
    <link rel="stylesheet" href="~/Content/CSSFolder/BackgroundColor.css" />
    <link rel="stylesheet" href="~/Content/CSSFolder/RouletteCSS.css." />
    <link rel="stylesheet" href="~/Content/CSSFolder/RS.css" />

</head>

<body>
    <h1> Spin Thy Wheel</h1>
    <div class="RouletteWheel">
        <a href="#"><img src="~/Content/Images/WheelRouuuuu.jpg" /></a>
    </div>

    <div class="RouletteFillings">
        <img class="whiteBoard" src="~/Content/Images/whiteBoard.jpg" />
    </div>




</body>
</html>