<!doctype html>
<html lang="en">
<!--
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
    -->
<head>
    <script src="~/Content/MyScripts/RouletteScript.js"> </script>
    <link rel="stylesheet" href="~/Content/CSSFolder/BackgroundColor.css" />
    <link rel="stylesheet" href="~/Content/CSSFolder/RouletteCSS.css." />
    <link rel="stylesheet" href="~/Content/CSSFolder/RS.css" />

</head>

<body>

    <div class="RouletteWheel">
        

        <a href="#"><img width="400" height="400" src="~/Content/Images/WheelRouuuuu.jpg" /></a>
        
        <button >
            <img width="400" height="400" src="~/Content/Images/WheelRouuuuu.jpg" />
        </button>
      
    </div>





</body>
</html>