<!doctype html>
<html lang="en">
<head>
     <script src="~/Content/MyScripts/RouletteScript.js"> </script>
    <link rel="stylesheet" href="~/Content/CSSFolder/BackgroundColor.css" />
    <link rel="stylesheet" href="~/Content/CSSFolder/RouletteCSS.css" />
</head>
<!--
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
    -->
<body>
   
       
<img src="~/Content/Images/RouletteWheel.jpg" width="400" height="400" /> 
  

    <input type="button" value="spin" id="spin" />
 





</body>
</html>