<!doctype html>
<html lang="en">
@model CSGO_MVC.Controllers.RouletteController
@{
    ViewBag.Title = "title";
}

    
<head>
    <script src="~/Content/MyScripts/RouletteScript.js"> </script>
    <link rel="stylesheet" href="~/Content/CSSFolder/BackgroundColor.css" />
    <link rel="stylesheet" href="~/Content/CSSFolder/RouletteCSS.css." />
    <link rel="stylesheet" href="~/Content/CSSFolder/RS.css" />

</head>

<body>
    <h1> Spin Thy Wheel</h1>
    <div class="RouletteWheel">
        <a href="#"><img src="~/Content/Images/WheelRouuuuu.jpg" /></a>
    </div>
    <script src="~/Content/MyScripts/jQueryRoulette.js"></script>

    @*<div class="RouletteFillings">
            <img class="whiteBoard" src="~/Content/Images/whiteBoard.jpg" />
        </div>*@



    <h1> Bet Test</h1>

    <input type="button" value="50" onClick="document.getElementById('textfield').innerHTML=this.value">
    <input type="button" value="100" onClick="document.getElementById('textfield').innerHTML=this.value">
    <input type="button" value="150" onClick="document.getElementById('textfield').innerHTML=this.value">
    <input type="button" value="200" onClick="document.getElementById('textfield').innerHTML=this.value">

    <br />
    <textarea id="textfield" disabled></textarea>



    <h1> Roulette test</h1>

    <p>
        Number : @ViewBag.ViewBagName
        @Html.ViewBag.ViewBagName
        @ViewBag.TEST
        Numver2:

        <!--
        snabelausing CSGO_MVC.Controllers;
        snabelaRouletteController.RouletteGame;
        snabelaHtml.TextBoxFor(x => x.RouletteGame.ViewBag);
        -->

    </p>


</body>
</html>