<!doctype html>
<html lang="en">
@{
    ViewBag.Title = "Home Page";
}
<head>

    <h1>Selam brothers</h1>

</head>
<body>
        
    <img src="~/Content/Images/wifi.jpg" class="img-fluid" alt="Responsive image" width="1151" height="250">

</body>
</html>